flask
openai>=1.0
google-auth
google-auth-oauthlib
google-api-python-client
requests
msal
PyPDF2
python-docx
textract==1.6.3
dateparser
python-dotenv
apscheduler
pywin32
pystray
Pillow
SpeechRecognition
pyaudio

